@{
    Layout = null;
}

<!DOCTYPE html>

<html style="height:100%">
    <head>
       <meta name="viewport" content="width=device-width" />
    <title>BarDome</title>
        <script src="~/Scripts/echarts.js"></script> 
    </head>
    <body style="height:100%;margin:0">
<div id="LineMain" style="height:100%"></div>
    </body>
</html>
<script type="text/javascript">
    var lineMain = document.getElementById("LineMain");
    var myChart = echarts.init(lineMain);
    var app = {};
    option = null;
    option = {
        color: ['#3398DB'],
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '直接访问',
                type: 'bar',
                barWidth: '60%',
                data: [10, 52, 200, 334, 390, 330, 220]
            }
        ]
    };


    if (option && typeof option === "object")
    {
        myChart.setOption(option,true);
    }
</script>
