@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Topic_style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>留言板</title>
</head>
    <script type="text/javascript">
        var hash = window.location.hash;
        hash = hash.substring(1, hash.length);
        var arr = hash.split('#')[0].split('/');
        keyValue = arr[0].split('.')[1];
        function pageload() {
            //$("searchBar").style.display = "none";
            if (keyValue)
                showList(keyValue);
            else
                showList(1);
        }
        $(function () {
            pageload();
        });
        function addReply(tid)
        {
            var content = $("#replyContent"+tid).val();
            if (content == null || content == "")
            {
                alert("评论不能为空！");
                return false;
            }
            $.post("/Topics/AddReply", { "id": tid, "content": content }, function (data) {
                if (data)
                {
                    alert("评论发表成功！");
                }
            });
        }
        function showReplyBar(tid)
        {
            var replydd = $("#reply" + tid);
            if (replydd[0].style.display != "block") {
                replydd.css("display","block");
                replydd.html("正在加载,请稍等");
                $.post("/Topics/ShowReplyBar", { "id": tid }, function (data) {
                    replydd.html(data);
                });
            }
            else {
                replydd.html("");
                replydd.css("display","none");
            }
        }
        function postMsg()
        {
            var author = $("#txtAuthor");
            var title = $("#txtTitle");
            var content = $("#txtContent");
            var Id = $("#hiddenId");
            if ((author.val() == null && !$("#chk1").checked) || title.val() == null || content.val() == null)
            {
                alert("数据填写有误！");
                return false;
            }
            if (Id.val() != 0 && Id.val() != null) {
                $.post("/Topics/UpdateTopics", {"Id":Id.val(),"author":author.val(),"title":title.val(),"content":content.val()}, function (data) {
                    if (keyValue)
                        showList(keyValue);
                    else
                        showList(1);
                    author.val("");
                    title.val("");
                    content.val("");
                    Id.val("");
                    $("#btnPost").val("发表");
                    $("#postMsg").css("display","none");
                    $("#showPostBtn").html("发表留言");
                    alert("您的修改保存成功!");
                });
            } else {
                $.post("/Topics/AddTopics", { "author": author.val(), "title": title.val(), "content": content.val() },function (data) {
                    if (keyValue)
                        showList(keyValue);
                    else
                        showList(1);
                    author.val("");
                    title.val("");
                    content.val("");
                    Id.val("");
                    $("#btnPost").val("发表");
                    $("#postMsg").css("display", "none");
                    $("#showPostBtn").html("发表留言");
                    alert("您的修改保存成功!");
                });
            }
        }
        function showList(page) {
            keyValue = page;
            var msgList = $("#msgList");
            $.post("/Topics/ShowTopicsList", { "page": page },function (data) {
                msgList.html(data);
            });
        }
        function showPost()
        {
            $("#loginBar").css("display","none");
            $("#searchBar").css("display", "none");
            if ($("#postMsg").css("display","block")) {
                pageload();
                $("#postMsg").css("display", "block");
                $("#showPostBtn").html("关闭");
                $("#chk1").checked = false;
                $("#showsearchBtn").html("留言查询");
            }
            else {
                $("#postMsg").css("display", "none");
                $("#showPostBtn").html("发表留言");
            }
        }
    </script>
<body>
    <form id="form1" runat="server">
    <uc1:HomeNav ID="HomeNav1" runat="server" />
        <table align="center" style="border-right: #ccc 1px solid; border-top: #ccc 1px solid;
            border-left: #ccc 1px solid; width: 800px; border-bottom: #ccc 1px solid">
            <tr>
                <td align="center" style="width: 794px">
                    <div>
                        &nbsp;<div >
    <div id="top" style="width: 586px; height: 23px">
        <a href="javascript:void(0)" onclick="showPost()" ><span id="showPostBtn">
            发表留言</span> </a>
        <a href="javascript:void(0)" onclick="showSearch()"><span id="showSearchBtn" >
            留言查询</span></a>        
    </div>
    <div id="msg" style="width: 599px"></div>
    <div id="postMsg" style="width: 606px">
    <div id="hiddenId"></div>
        <dl>
            <dd class="postHead">发表留言</dd>
            <dd>姓名：<input id="txtAuthor" type="text" style="width: 169px" />&nbsp;<input type="checkbox" id="chk1" onclick="clearauthor()"/>匿名发表
                <span style="color: #993300">*</span></dd><dd>标题：<input id="txtTitle" type="text" style="width: 529px" />
                *</dd><dd>内容：<textarea id="txtContent" style="width: 538px; height: 100px"></textarea>
                *</dd><dd class="postFoot"><input id="btnPost" type="button" value="发 表" onclick="postMsg()" /></dd>
        </dl>
    </div>
    <div id="loginBar" style="width: 581px" >
        密码：<input id="pass" type="password" style="width: 162px" />*
        <input id="Button1" type="button" value="登陆" onclick="chkLogin()" />
    </div>   
     <div id="searchBar">
         请输入标题关键字：<input id="title" type="text" style="width: 261px" />
         *<input id="Button2" type="button" value="查找" onclick="doSearch()"/>    
    </div>
    <div id="msgList" style="width: 609px"></div>
        <br />
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <img src="~/Content/images/bq.gif" />
</body>
</html>
